@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

//FONTES
$font-lato: 'Lato', sans-serif;

$bg-header: #413990;
$bg-banner-full: $bg-header;
$bg-hover: #ec5757;
$bg-different: #FFFFFF;
$bg-how-it-work: #f8f7fa;
$bg-footer: $bg-header;
$bg-modal: $bg-how-it-work;
$bg-btn: $bg-hover;
$bg-btn-hover: $bg-header;

$border-input: #d5d5d6;
$border-nav-mobile: #4E488E;

$text-hover: $bg-hover;
$text-header: #FFFFFF;
$text-footer: $text-header;
$text-banner: $text-header;
$text-different: #413990;
$text-how-it-work: $text-different;
$text-label: #909090;
$text-input: #414141;
$text-btn: $text-header;


$title: #413990;

$link-modal: #696b74;
$link-hover: $text-different;


//media
$phones: 543px;
$tablets: 767px;
$desktops: 991px;
$large-desktops: 1023px;
