body{
	&.mentores{
		.showcase{
			.mentors-redes{
				width: 100%;
				height: auto;
				float: left;
				text-align: center;
				margin-bottom: 10px;
					a{
						width: 30px;
						height: 30px;
						text-decoration: none;								
					}
					svg{
						width: 30px;
						height: 30px;
					}
			}
		}		
		
	}
}