body{
	&.user{
    .box-content{
      margin-top: 50px;
    }
    .pupilo{
      &-detail{
        width: 27%;
        height: auto;
        float: left;
				background-color: $bg-how-it-work;
          figure{
            width: 100%;
            height: 100px;
            float: left;
            margin: 0;
            padding: 0;
            text-align: center;
						position: relative;
						background-image: url('/images/bg-user.jpg');
						background-size: cover;
              img{
								width: 100px;
								height: 100px;
								position: absolute;
								bottom: -50px;
								left: calc(50% - 50px);
								border-radius: 50%;
                border: 5px solid $border-image-pupilo;
                box-sizing: border-box;
              }
          }
      }
			&-info{
				width: 100%;
				height: auto;
				float: left;
				margin-top: 60px;
				margin-bottom: 20px;
					p{
						width: 100%;
						height: auto;
						float: left;
						margin-top: 10px;
						text-align: center;
						font-size: 1.4em;
						color: $text-default;
						font-weight: 400;
							span{
								width: 100%;
								height: auto;
								float: left;
								margin-top: 5px;
								font-size: 0.8em;
								color: $text-span;
							}
					}
			}
			&-ajudar{
				width: 100%;
				height: auto;
				float: left;
				margin-bottom: 20px;
					.btn-ajudar{
						width: 200px;
						height: 40px;
						float: left;
						margin-left: calc(50% - 100px);
						background-color: $bg-btn;
						text-align: center;
						line-height: 40px;
						text-transform: uppercase;
						font-family: $font-lato;
						font-weight: 400;
						font-size: 16px;
						color: $text-btn;
						cursor: pointer;
						transition: color 0.5s ease 0s;
						transition: box-shadow 0.5s ease 0s;
						box-shadow: inset 0 0px 0 0px $bg-btn-hover;
						text-decoration: none;
						&:hover {
							text-decoration: none;
							box-shadow: inset 0 -50px 0 0px $bg-btn-hover;
							color: #FFF;
						}
					}
			}
      &-doubt{
        width: 70%;
        height: auto;
        float: right;
				background-color: $bg-how-it-work;
				padding: 1%;
				box-sizing: border-box;
          h2{
            width: 100%;
            height: 40px;
            float: left;
            margin-bottom: 20px;
            line-height: 40px;
            font-size: 1.5em;
            color: $title-different;
          }
          p{
            width: 100%;
            height: auto;
            float: left;
            margin-top: 0;
            margin-bottom: 20px;
            line-height: 20px;
            text-align: left;
            font-size: 1em;
            color: $text-default;
            font-weight: 400;
          }
      }
    }
    @media screen and (max-width: $desktops) {
      .pupilo-detail{
        width: 100%;
          figure{
            width: 100%;
          }
      }
      .pupilo-doubt {
          width: 100%;
          height: auto;
          float: right;
          margin-top: 10px;
					padding: 6%;
            h2{
              height: auto;
              font-size: 1.2em;
            }
      }

    }
    @media screen and (min-width: $tablets) and (max-width: $desktops) {

    }
  }
}
