<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Mentores Lab Mentoria</title>
	<link rel="stylesheet" href="css/lab-mentoria.min.css">
</head>
<body class="mentores">

<% include ../partials/header %>


<div class="container page-internal">

	<div class="main">

		<h1 class="">conheça nossos mentores</h1>

		<p class="">Esta é a nossa comunidade de profissionais de tecnologia<br />dispostas a ajudá-lo nesta jornada!</p>

			<div class="box-content">

				<section class="filter">
					<p>Filtre por:</p>

						<nav class="filter-choose">
							<% include ../partials/categories %>
						</nav>
				</section>

				<div class="showcase">
					<ul>
						<%for (var i = 0; i < lista.length; i++) {%>
						<li class="" categoria="<%=lista[i].userCategoria%>">
							<figure class="showcase-images">
								<img src="<%=lista[i].userFoto%>" alt="<%=lista[i].userNome%>">
								<figcaption><h2><%=lista[i].userNome%></h2></figcaption>
							</figure>							
						</li>
						<%}%>
					</ul>
				</div>

			</div>


	</div>

</div>



<% include ../partials/footer %>

<% include ../partials/modal-login %>
<% include ../partials/modal-cadastro %>

<div id="overlay" class="overlay"></div>

<script src="js/jquery.js"></script>
<script src="js/lab-mentoria.min.js"></script>
</body>
</html>
