<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Pupilos Lab Mentoria</title>
	<link rel="stylesheet" href="/css/lab-mentoria.min.css">
</head>
<body class="pupilos">

<% include ../partials/header %>


<div class="container page-internal">

	<div class="main">

		<h1 class="">Cadastro Efetuado com sucesso!</h1>

		<p class="">Falta pouco, acesse sua área exlusiva e conte mais sobre você.</p>

			<div class="box-content">

			</div>


	</div>

</div>



<% include ../partials/footer %>

<% include ../partials/modal-login %>
<% include ../partials/modal-cadastro %>

<div id="overlay" class="overlay"></div>

<script src="js/jquery.js"></script>
<script src="js/lab-mentoria.min.js"></script>
</body>
</html>
