<h2>Selecionar <span class="icon-down"></span></h2>
<ul>
	<li id="Front-End">Front-End</li>
	<li id="Back-End">Back-End</li>
	<li id="Design">Design</li>
	<li id="UX">UX</li>
	<li id="Full-Stack">Full-Stack</li>
</ul>