<div class="modal" id="modal-cadastro">

	<div class="fechar-modal">
		<span id="fechar-modal">X</span>
	</div>

	<h2>Faça seu cadastro</h2>

	<fieldset>

		<div class="input-fild">
			<label for="email">E-mail</label>
			<input type="email" id="email" name="email">
		</div>
		<div class="input-fild">
			<label for="senha">Senha</label>
			<input type="password" id="senha" name="senha">
		</div>

		<div class="fild-btn">
			<input type="submit" id="entrar" value="Cadastrar">
		</div>

	</fieldset>

</div>
