<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Contato Lab Mentoria</title>
	<link rel="stylesheet" href="css/lab-mentoria.min.css">
</head>
<body class="contato">

<% include ../partials/header %>


<div class="container page-internal">

	<div class="main">

		<h1>Contato</h1>

		<p>Mande um e-mail pra gente. Nós vamos adorar falar com você sobre o nosso projeto :)</p>

			<div class="box-content">


				<section class="form">
					<div class="field-form field-position1">
						<label for="name">Nome</label>
						<input type="text" id="name" placeholder="Luiza Fulana">
					</div>
					<div class="field-form field-position2">
						<label for="email">E-mail</label>
						<input type="email" id="email" placeholder="luizafurtado@gmail.com">
					</div>
					<div class="different-field-form">
						<label for="assunto">Assunto</label>
						<input type="text" id="assunto" placeholder="Não sei o que fazer">
					</div>
					<div class="different-field-form">
						<textarea name="mensagem" id="mensagem" placeholder="Digite sua mensagem aqui"></textarea>
					</div>
					<div class="field-button">
						<input type="submit" value="Enviar" class="btn-form">
					</div>
				</section>

			</div>


	</div>

</div>



<% include ../partials/footer %>

<% include ../partials/modal-cadastro %>

<div id="overlay" class="overlay"></div>

<script src="js/jquery.js"></script>
<script src="js/lab-mentoria.min.js"></script>
</body>
</html>
