footer{
  width: 100%;
  height: auto;
  float: left;
  padding: 20px 0;
  background-color: $bg-footer;
  margin-top: 20px;
    p{
      text-align: center;
      text-transform: uppercase;
      font-family: $font-lato;
      font-size: 13px;
      color: $text-footer;
        span svg {
          width: 16px;
          margin-left: 2px;
        }
    }
}
